.titre {
    color: white;
    font-size: 60px;
    text-align:center;
    font-family: "Ma Super Fonte", Helvetica, Arial, sans-serif;
    font-style: italic;
}

@font-face {
    font-family: "Ma Super Fonte";
    src: url('handwriting-draft_free-version.ttf');
}
@font-face {
    font-family: "Ma Super Fonte";
    font-style: italic;
    src: url('handwriting-draft_free-version.ttf');
}
@font-face {
    font-family: "Ma Super Fonte";
    font-weight: bold;
    src: url('handwriting-draft_free-version.ttf');
}

body {
    color:graytext;
    background-color:grey;
    background-image:url("PNG/FOND_ECRAN.jpg");
    background-size: auto;
}

.global {
    width: auto;
    position: relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.inscription {
    position:relative;
    background-color:white;
    opacity: 0.7;
    padding:10px;
    text-align: center;
}

.connexion {
    width: 300px;
    left:20px;
    position:relative;
    background-color:white;
    text-align: center;
    opacity: 0.7;
    padding:10px;
}

.contenu {
    width:100%;
    background-color:white;
    text-align: center;
    opacity: 0.7;
}


.pied {
    position: relative;
    margin-bottom: 500px;
    bottom: 0px;
    color: graytext;
    text-align: center;
}
